# Rookie Linux Fedora Kickstart
# Los scripts ya están inyectados directamente en el squashfs (rootfs.img).
# Este archivo solo configura el modo de instalación de Anaconda.
graphical
liveimg --url=file:///run/initramfs/squashfs/LiveOS/rootfs.img
