# Rookie Linux Fedora Kickstart
# Dejamos las configuraciones principales vacias para forzar la instalacion interactiva (Disco, Red, Usuarios).

# Repositorios de red para descargar paquetes (usando espejos oficiales)
network --bootproto=dhcp --device=link --activate
url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch
repo --name=updates --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f$releasever&arch=$basearch

%packages
@^workstation-product-environment
%end

# Post-install no-chroot (Copia archivos de la ISO al sistema recien instalado)
%post --nochroot --erroronfail
mkdir -p /mnt/sysimage/opt/rookie-scripts
# En instalaciones de Fedora Server es /run/install/repo, pero en Live Workstation es /run/initramfs/live
cp -r /run/initramfs/live/custom_scripts/* /mnt/sysimage/opt/rookie-scripts/ 2>/dev/null || true
cp -r /run/install/repo/custom_scripts/* /mnt/sysimage/opt/rookie-scripts/ 2>/dev/null || true
chmod -R +x /mnt/sysimage/opt/rookie-scripts/scripts/*.sh 2>/dev/null || true
%end

# Post-install chroot (Ejecuta la instalacion dentro del sistema destino)
%post --erroronfail --log=/var/log/rookie-install.log
bash -c "/opt/rookie-scripts/scripts/install.sh"
%end
